body {
    margin: 0;
    padding: 0;
}

body * {
    /* font-family: "Lato", sans-serif; */
}

.cNav {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
}

.cNav-box {
    margin: 0 auto;
    width: 90%;
    justify-content: space-between !important;
}

.cOffcanvasTop {
    height: 20vh !important;
}

.cNavpills {
    display: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.cNavpills li a {
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
}

.cNavpills li a:hover {
    color: black !important;
    /* border-bottom: 2px solid gray; */
}


.cMblCtegory .btn,
.cMblCtegory ul {
    width: 100%;
}

.cMblCtegory ul li a {
    text-align: center;
}

.cExploreBar .cTxt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cExploreBar .btn {
    font-weight: 400;
}

.cExploreBar div.cTxt {
    width: 60%;
}

#bannerCarosel .carousel-item {
    height: 78vh;
    display: flex;
    align-items: center;
}

.cbc-img-box {
    width: 64%;
    height: 100%;
}

#bannerCarosel img {
    width: 100%;
    height: 100%;
}

#bannerCarosel h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0px;
}

#bannerCarosel h4 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 50px;
    line-height: 1.6;
}

#bannerCarosel p {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-right: 100px;
}

#bannerCarosel a {
    font-weight: 400;
    font-size: 20px;
    border-radius: 0;
    border: none;
    padding: 15px 35px;
}

#bannerCarosel .btn:hover {
    background-color: #fff;
}

#bannerCarosel a i {
    font-size: 18px;
    margin-left: 6px;
}

.cbcCaptionBox {
    width: 36%;
    background-color: #3B4837;
}

.cbcCaptionBox .banner_show {
    margin: 0 auto;
    width: 80%;
}

/* reuseable */
.secHeading {
    font-size: 46px;
    font-weight: 800;
    font-family: lato;
    z-index: 1;
    position: relative;
}

.secDesc {
    font-size: 24px;
}

.prod-line-section {
    /* background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

.prj-sec{
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
}

.ybs-row .card {
    transition: .25s;
    cursor: pointer;
    border: none;
}

.ybs-row .card:hover {
    transform: translateY(-7px)
}

.your-brand-section {
    background: url('../images/index_customize.jpeg');
}

.card-title i {
    color: #dc3545;
}

.wws-sec{
    background: url(../images/index_who.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.wws-sec h2::before,
.dlt-sec h2::before{
    content: '';
    display: inline-block;
    width: 110px;
    height: 3px;
    background: linear-gradient(to right,#fff,#F34C4A);
    vertical-align: middle;
    margin-right: 15px
}

.wws-sec h2::after,
.dlt-sec h2::after{
    content: '';
    display: inline-block;
    width: 110px;
    height: 3px;
    background: linear-gradient(to right,#F34C4A,#fff);
    vertical-align: middle;
    margin-left: 15px
}

.wws-sec .card-img-overlay{
    display: none;
    background-color: #A12D30;
    opacity: .9;
}
.wws-sec .card:hover .card-img-overlay{
    display: flex;
}

.trusted-partner-section2{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}
/* .tp-sec{
    padding-top: 0;
} */

.dlt-linkBar{
    margin-top: -70px;
}
.dlt-linkBar a:hover{
    color: #000;
}

.also-trusted-by{
    background: url(../images/index_atb.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom;
    position: relative;
}
.also-trusted-by::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    opacity: .9;
}

.footer-section{
    background: url(../images/foot_bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.footer-section::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #292929;
    opacity: .9;
}
.footer-section .menu-container ul{
    list-style: none;
}
.footer-section .menu-container ul a{
    color: #fff;
    text-decoration: none;
}

.fs-sec1{
    background: rgb(37 37 37 / 50%);
    border-bottom: 1px solid #4d4d4d;
}


/* //////// */

.pls-btn,
.pls-btn:hover {
    background: #FFF2F2;
    color: #dc3545;
}

.card-hoverEfect{
    transition: .28s all ease-in-out;
}
.card-hoverEfect:hover{
    transform: translateY(-10px)
}




@media (max-width: 576px) {
    .wws-sec .card-text{
        display: none!important;
    }
}
@media (max-width: 992px) {
    .trusted-partner-section img{
        width: 100%;
    }
    .prj-sec{
        padding: 35px 0;
    }
}
@media (min-width: 992px) {
    .cNav .cCollapse {
        display: block !important;
        flex-grow: unset;
        width: 70%;
    }

    .cCollapse ul {
        justify-content: space-between;
        width: 100%;
    }

    .cMblCtegory {
        display: none;
    }

    .cNavpills {
        display: flex;
    }

}



@media (max-width: 1600px) {
    #bannerCarosel h2 {
        font-size: 34px;
    }

    #bannerCarosel h4 {
        font-size: 26px;
    }

    #bannerCarosel p {
        font-size: 18px;
    }

    #bannerCarosel a {
        font-size: 18px;
        padding: 12px 30px;
    }

    #bannerCarosel p {
        padding-right: 35px;
    }
}

@media (max-width: 1224px) {
    #bannerCarosel h2 {
        font-size: 28px;
    }

    #bannerCarosel h4 {
        font-size: 22px;
    }

    #bannerCarosel p {
        font-size: 16px;
    }

    #bannerCarosel a {
        font-size: 16px;
        padding: 12px 30px;
    }

    .cbc-img-box {
        width: 60%;
    }

    .cbcCaptionBox {
        width: 40%;
        background-color: #3B4837;
    }
}

@media (min-width: 1224px) {
    .cNav .cCollapse {
        width: 52%;
    }
}

@media (min-width: 1824px) {
    .cNav .cCollapse {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .cExploreBar span.cTxt {
        display: none;
    }

    .cExploreBar div.cTxt {
        width: 30%;
    }

    #bannerCarosel .carousel-item {
        display: block;
        height: 100%;
    }

    .cbcCaptionBox,
    .cbc-img-box {
        width: 100%;
    }

    .cbcCaptionBox {
        padding: 50px 0;
    }
}